APP_ENV=dev
PORT=3000
API_BASE_URL=/api
DOCS_URL=/docs
SOCKETIO_ENDPOINT=/ws
SOCKETIO_ENDPOINT_ON=false

JWT_SECRET=supersecret


DB_DATABASE=nestjsboilerplate01db
DB_USERNAME=postgresusername
DB_PASSWORD=YourPassword
DB_HOST=127.0.0.1